$min-width: 990px;
$sn-height: 32px;
$main-color: #c40000;

* {
  margin: 0;
  padding: 0;
}
em, i {font-style: normal;}
a {
  text-decoration: none;
  color: #000;
  outline: 0;
}
li, ol, ul {list-style: none;}

#mallPage, #site-nav{
  width: auto;
  min-width: $min-width;
}
#site-nav {
  font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
  font-size: 10px;
}

#site-nav {
  background-color: #f2f2f2;
  height: $sn-height;
  position: relative !important;
  border-bottom: 1px solid #e5e5e5;
  a {
    cursor: pointer;
    color: #999;
    &:link {
      color: #999;
    }
    &:hover {
      color: $main-color;
    }
  }
  color: #999;
}
#sn-bd {
  position: relative;
  width: 982px;
  margin: auto;
  .sn-container {
    line-height: $sn-height;
    display: inline-block;
    &::after {
      display: table;
      content: '';
      clear: both;
    }
    .sn-login, .sn-register {
      margin: 0 10px;
    }
    .sn-login {
      margin-left: 20px;
    }
  }
  //顶部导航拦右边一系列菜单
  .sn-quick-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: $sn-height;
    line-height: $sn-height;
    li {
      float: left;
      position: relative;
      margin-right: 15px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }

    .menu-hd {
      display: block;
      padding: 0 10px;
      padding-right: 14px;
      z-index: 10000;
      // 通过border绘制小三角形
      b {
        position: absolute;
        top: 15px;
        right: 3px;
        width: 0;
        height: 0;
        // ====import====
        border-width: 3px;
        border-style: solid dashed dashed;
        border-color: #bbb transparent transparent;
        font-size: 0;
        line-height: 0;
        transition: transform .2s ease-in;
        transform-origin: 50% 30%;
        // ==============
      }
      &:hover {
        ~.menu-bd {
          display: block;
        }
      }
    }
    .menu-bd {
      width: 74px;
      display: none;
      // 前面li为相对定位，所以菜单绝对定位时会以li为基准
      position: absolute;
      z-index: 99999;
      left: -1px;
      top: 33px;
      padding: 8px 10px;
      line-height: 1.4;
      background: #fff;
      border: solid #eee;
      border-width: 0 1px 1px;
      a {
        line-height: 20px;
        display: block;
      }
      &:hover {
        display: block;
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .sn-favority {
      #myFavorityPanel {
        width: 62px;
      }
    }
    .sn-separator {
      width: 0;
      height: 14px;
      line-height: 14px;
      border-right: 1px solid #ccc;
      top: 9px;
    }
    .sn-mobile:hover {
      .sn-qrcode {
        display: block;
        z-index: 99999;
      }
    }
    .sn-qrcode {
      display: none;
      width: 175px;
      height: 227px;
      position: absolute;
      top: 26px;
      left: -48px;
      box-shadow: 0 0 5px #aaa;
      background-color: #fff;
      &-content {
        width: 175px;
        height: 175px;
        margin: 5px 0 0;
        background: url(https://img.alicdn.com/tps/i4/TB1K4a8IpXXXXaRXFXXbNxvWXXX-175-215.png) 0 0 no-repeat;
      }
      p {
        background: url(https://img.alicdn.com/tps/TB1sR93OFXXXXaAXXXXXXXXXXXX-145-30.png) center bottom no-repeat;
        margin: 0 15px;
        text-indent: -999px;
        overflow: hidden;
        line-height: 32px;
      }
      b {
        width: 0;
        border-width: 5px;
        border-style: dashed dashed solid ;
        border-color: transparent transparent #fff ;
        position: absolute;
        font-size: 0;
        left: 50%;
        top: -10px;
        margin-left: -10px;
      }
    }
    .sn-seller {
      .menu-bd {
        width: 122px;
        overflow: hidden;
        right: 0;
        left: auto;
        a:nth-child(even) {
          margin-right: 20px;
        }
        li {
          margin-right: 0;
        }
        a {
          width: 48px;
          line-height: 22px;
          display: inline-block;
        }
      }
    }
    .site-list {
      li {
        width: 95px;
        padding: 6px 0;
        overflow: hidden;
        margin-right: 0;
      }
    }
    .sn-sitemap {
      ul {
        overflow: hidden;
        margin-right: -20px;
      }
      .menu-bd {
        width: 982px;
        // 绝对定位后right为0则右边不动，左边auto自适应
        right: 0;
        left: auto;
        box-sizing: border-box;
      }
      .site-cont {
        height: 200px;
        padding-left: 30px;
        overflow: hidden;
        float: left;
        h2 {
          font-size: 16px;
          padding-bottom: 8px;
          span {
            padding-left: 10px;
          }
        }
      }
      .site-hot {
        width: 275px;
        color: #f56a00;
      }
      .site-market {
        width: 375px;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        color: #2263d4;
      }
      .site-help {
        width: 210px;
      }
      .site-brand {
        width: 275px;
        color: pink;
        border-right: 1px solid #f5f5f5;
      }
      .sn-sitemap-icon {
        background: url(https://img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
        position: absolute;
        width: 9px;
        height: 11px;
        overflow: hidden;
        line-height: 0;
        font-size: 0;
        top:-.2px;
      }
      .sn-sitemap-icon-new {
        // 雪碧图
        background-position: -37px -11px;
      }
      .sn-sitemap-icon-hot {
        background-position: -37px 0;
      }
    }
  }
}
#header {
  height: 100px;
  margin-top: 0 !important;
  width: auto;
  z-index: 1000;
  position: relative;
  .headerLayout {
    width: 982px;
    height: 100px;
    margin: 0 auto;
  }
  .headerCon {
    &::before, &::after {
      display: table;
      content: "";
      overflow: hidden;
    }
    &::after {
      clear: both;
    }
  }
  .header-extra {
    height: 100px;
    overflow: hidden;
  }
}
#mallLogo {
  width: 280px;
  height: 64px;
  line-height: 64px;
  position: relative;
  float: left;
  z-index: 9;
  padding-top: 28px;
  .mlogo {
    float: left;
    margin-right: 10px;
    padding: 0;
    s {
      background: url(https://img.alicdn.com/tps/i1/TB1JCr_IpXXXXcAXFXXOK.sIXXX-190-27.png) no-repeat;
      height: 28px;
      width: 190px;
      position: absolute;
      display: block;
      top: 0;
    }
    a {
      height: 30px;
      font-size: 20px;
      width: 190px;
      overflow: hidden;

    }

  }
  a {
    position: relative;
    display: block;
    color: #fff;
    text-indent: 0 !important;
  }
}
#mall-search {
  width: 410px;
  height: 100px;
  padding-top: 38px;
  overflow: hidden;
  box-sizing: border-box;
  .searchTop {
    border: 2px solid $main-color;
  }
  .mallSearch-input{
    height: 36px;
    button {
      width: 132px;
      height: 36px;
      background-color: $main-color;
      border: none;
      float: right;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 5px;
      color: #fff;
      cursor: pointer;
    }
    .s-combox {
      float: left;
      height: 36px;
      font-size: 12px;
      position: relative;
    }
    .s-combox-input-wrap {
      input {
        width: 274px;
        height: 36px;
        padding: 5px 3px 5px 5px;
        color: #000;
        border: none;
        margin: 0;
        box-sizing: border-box;
        outline: none;
        &:focus {

        }
      }

      z-index: 2;
    }
    label {
      position: absolute;
      top: 0;
      left: 5px;
      height: 36px;
      font-size: 14px;
      line-height: 36px;
      color: rgba(102, 102, 102,.3);
      visibility: visible;
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1;
      cursor: text;
    }
  }
  .hot-query {
    width: 410px;
    overflow: hidden;
    height: 18px;
    font-size: 12px;
    padding: 8px 0 0 ;
    margin-left: -10px;
    li {
      display: inline-block;
      padding:0 12px;
      line-height: 1.1;
      border-right: 1px solid #ccc;
      a {
        color: #999;
      }
    }
  }
}

#header, #content{
  margin-left: auto;
  margin-right: auto;
}
.headerCon, .clearfix {
  &::before, &::after {
    display: table;
    content: "";
    overflow: hidden;
  }
  &::after, .clearfix {
    clear: both;
  }
}
.hover {
  border-bottom: 1px solid;
  border-color: #fff;
  background-color: #fff;
  text-decoration: underline;
  >b {
    transform: rotate(180deg);
  }
  color: $main-color !important;
  text-decoration: underline;
}
