$min-width: 990px;
$sn-height: 32px;


* {
  margin: 0;
  padding: 0;
}
em, i {font-style: normal;}
a {
  text-decoration: none;
  color: #000;
  outline: 0;
}
li, ol, ul {list-style: none;}

#mallPage, #site-nav{
  width: auto;
  min-width: $min-width;
}
#site-nav {
  font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
  font-size: 10px;
}

#site-nav {
  background-color: #f2f2f2;
  height: $sn-height;
  position: relative !important;
  border-bottom: 1px solid #e5e5e5;
  a {
    cursor: pointer;
    color: #999;
    &:link {
      color: #999;
    }
    &:hover {
      color: #c40000;
    }
  }
  color: #999;
}
#sn-bd {
  position: relative;
  width: 982px;
  margin: auto;
  .sn-container {
    line-height: $sn-height;
    display: inline-block;
    &::after {
      display: table;
      content: '';
      clear: both;
    }
    .sn-login, .sn-register {
      margin: 0 10px;
    }
    .sn-login {
      margin-left: 20px;
    }
  }
  .sn-quick-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: $sn-height;
    line-height: $sn-height;
    li {
      float: left;
      position: relative;
      margin-right: 15px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }

    .menu-hd {
      display: block;
      padding: 0 10px;
      padding-right: 14px;
      z-index: 10000;
      b {
        position: absolute;
        top: 15px;
        right: 3px;
        width: 0;
        height: 0;
        border-width: 3px;
        border-style: solid dashed dashed;
        border-color: #bbb transparent transparent;
        font-size: 0;
        line-height: 0;
        transition: transform .2s ease-in;
        transform-origin: 50% 30%;
      }
      &:hover {
        ~.menu-bd {
          display: block;
        }
      }
    }
    .menu-bd {
      width: 74px;
      display: none;
      position: absolute;
      z-index: 999;
      left: -1px;
      top: 33px;
      padding: 8px 10px;
      line-height: 1.4;
      background: #fff;
      border: solid #eee;
      border-width: 0 1px 1px;
      a {
        line-height: 20px;
        display: block;
      }
      &:hover {
        display: block;
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .sn-favority {
      #myFavorityPanel {
        width: 62px;
      }
    }
    .sn-separator {
      width: 0;
      height: 14px;
      line-height: 14px;
      border-right: 1px solid #ccc;
      top: 9px;
    }
    .sn-mobile:hover {
      .sn-qrcode {
        display: block;
      }
    }
    .sn-qrcode {
      display: none;
      width: 175px;
      height: 227px;
      position: absolute;
      top: 26px;
      left: -48px;
      box-shadow: 0 0 5px #aaa;
      background-color: #fff;
      &-content {
        width: 175px;
        height: 175px;
        margin: 5px 0 0;
        background: url(https://img.alicdn.com/tps/i4/TB1K4a8IpXXXXaRXFXXbNxvWXXX-175-215.png) 0 0 no-repeat;
      }
      p {
        background: url(https://img.alicdn.com/tps/TB1sR93OFXXXXaAXXXXXXXXXXXX-145-30.png) center bottom no-repeat;
        margin: 0 15px;
        text-indent: -999px;
        overflow: hidden;
        line-height: 32px;
      }
      b {
        width: 0;
        border-width: 5px;
        border-style: dashed dashed solid ;
        border-color: transparent transparent #fff ;
        position: absolute;
        font-size: 0;
        left: 50%;
        top: -10px;
        margin-left: -10px;
      }
    }
    .sn-seller {
      .menu-bd {
        width: 122px;
        overflow: hidden;
        right: 0;
        left: auto;
        a:nth-child(even) {
          margin-right: 20px;
        }
        li {
          margin-right: 0;
        }
        a {
          width: 48px;
          line-height: 22px;
          display: inline-block;
        }
      }
    }
    .site-list {
      li {
        width: 95px;
        padding: 6px 0;
        overflow: hidden;
        margin-right: 0;
      }
    }
    .sn-sitemap {
      ul {
        overflow: hidden;
        margin-right: -20px;
      }
      .menu-bd {
        width: 982px;
        right: 0;
        left: auto;
        box-sizing: border-box;
      }
      .site-cont {
        height: 200px;
        padding-left: 30px;
        overflow: hidden;
        float: left;
        h2 {
          font-size: 16px;
          padding-bottom: 8px;
          span {
            padding-left: 10px;
          }
        }
      }
      .site-hot {
        width: 275px;
        color: #f56a00;
      }
      .site-market {
        width: 375px;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        color: #2263d4;
      }
      .site-help {
        width: 210px;
      }
      .site-brand {
        width: 275px;
        color: pink;
        border-right: 1px solid #f5f5f5;
      }
      .sn-sitemap-icon {
        background: url(https://img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
        position: absolute;
        width: 9px;
        height: 11px;
        overflow: hidden;
        line-height: 0;
        font-size: 0;
        top:-.2px;
      }
      .sn-sitemap-icon-new {
        background-position: -37px -11px;
      }
      .sn-sitemap-icon-hot {
        background-position: -37px 0;
      }
    }
  }
}

.hover {
  border-bottom: 1px solid;
  border-color: #fff;
  background-color: #fff;
  text-decoration: underline;
  >b {
    transform: rotate(180deg);
  }
  color: #c40000 !important;
  text-decoration: underline;
}
